  @import './themes/public.css';
@import './base.css';
@import './components/index.css';
@import './override/index.css';

@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a.no-before::before {
  content: '';
  display: none;
}

* {
  transition: 0.3s;
}

.ant-input {
  font-family: var(--y-font) !important;
}

#app-view {
  padding: 0 50px !important;
  margin: 0 auto;
  margin-top: 58px;
}
#app-view > #app-container {
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 930px) {
  #app-view {
    padding: 0 30px !important;
  }
}
@media (max-width: 825px) {
  #app-view {
    padding: 0 20px !important;
  }
}
#app-view {
  padding-top: 20px !important;
}
#__vue-devtools-container__ {
  display: none !important;
}
.ant-image-mask {
  border-radius: 8px !important;
}
